$hamburger-padding-x: 10px;
$hamburger-padding-y: 10px;
$hamburger-layer-width: 35px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 8px;
$hamburger-layer-color: #fff;
$hamburger-active-layer-color: $color-blue-light;