@keyframes moveInLeft {
	0% {
		opacity: 0;
    letter-spacing: 30px;
		transform: translateX(-10rem);
	}

	100% {
		opacity: 1;
    letter-spacing: 6px;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
    letter-spacing: 20px;
		transform: translateX(10rem);
	}

	100% {
		opacity: 1;
    letter-spacing: 1px;
		transform: translateX(0);
	}
}

@keyframes moveInUp {
	0% {
		opacity: 0;
		transform: translateY(-6rem);
	}

  80% {
		opacity: 1;
		transform: translateY(.5rem);
  }

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scaleInCenter {
	0% {
		opacity: 0;
    transform: scale(0);
	}

  80% {
    transform: scale(1.08);
  }

	100% {
		opacity: 1;
    transform: scale(1);
	}
}